.my_container {
	/*margin-top: 70px;*/
}
.icon {
  position: relative;
  top: 1px;
  display: inline-block;
  height: 30px;
  width: 30px;
}
.icon img {
  width: 100%;
  height: 100%;
}
.my_button {
  width: 100%;
  margin: 5px;
}
.img_bg img {
  width: 100%;
}
.title {
  margin-left: 15px;
}
#page1, #page2, #page3, #page4, #page5 {

  padding-top: 70px;
}
h4 {
  text-align: center;
}
p {
  font-size: 18px;
  font-family: "Roboto Slab", "Helvetica Neue", Courier;
  text-align: center;
}
h1,h2,h3,h4 {
  font-family: "Montserrat", "Helvetica Neue", Helvetica, sans-serif;
}
